In [30]:
#This program generates a unique Transaction ID for each business so that it becomes easier to classify expenses and revenues. 
import pandas as pd
import string
import random

T = pd.read_csv("UpdatedLedger.csv")
revenue_list=T[T['Details']=='Revenue']['Account'].unique()

# Create an empty dictionary
business_list = {'Transaction ID': [], 'Business': []}#, 'Revenue Details':[]}

# Loop through each element of the array
for i in range(len(revenue_list)):
    # Split the element into words
    words = revenue_list[i].split()
    if (len(words)>2 and words[1]!='Revenue'):
        business_name = words[0]+" "+words[1]
    else:
        if(len(words)>1 and words[1]=='Revenue'):
            business_name = words[0]
        else:
            business_name = 'Shut Down Business Revenue'
        
    if business_name == 'Revenue':  # skip elements without business name
        continue
    # Generate a random alphanumeric string of length 5
    transaction_id = ''.join(random.choices(string.ascii_uppercase + string.digits, k=5))
    #Append the transaction ID and business name to the dictionary
    business_list['Transaction ID'].append(transaction_id)
    business_list['Business'].append(business_name)
    #business_list['Revenue Details'].append(revenue_list[i])

# Create a DataFrame from the dictionary
unique_identifier_list = pd.DataFrame(business_list)
unique_identifier_list.to_csv('Unique_Business_ID.csv',index=False)
unique_identifier_list

  Transaction ID                    Business
0          MEB1B                  Katalytica
1          MNQJ2                    Karbucks
2          V69LI               Katara Jewels
3          BRHU3                Elite Jewels
4          FQNWA                Karvin Kueen
5          84SY9               Katar Spirits
6          K4TQ1  Shut Down Business Revenue
7          4F2U7               Elite Couture
8          AMLVR              Kalico Midtown

In [ ]:
#